body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f7f7f7;
}

h1 {
  text-align: center;
}

#products-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 180px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

.product-card h2 {
  font-size: 1.1rem;
  margin: 10px 0 5px;
}

.product-card p {
  font-weight: bold;
  color: #333;
}
